*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color:hsl(275, 100%, 97%);
}

.svg-body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 180px;
    z-index: 2;
}

header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

h1{
    color: hsl(292, 42%, 14%);
    font-size: 3rem;
    margin-left: 10px;
}

.faq-container .faq-item {
    margin-bottom: 20px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    color:  hsl(292, 42%, 14%);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.faq-question span {
    flex-grow: 1;
}

.svg-container {
    display: flex;
    gap: 5px;
}

.svg-plus, .svg-minus {
    display: none;
}

.svg-plus {
    display: inline;
}

.faq-answer {
    display: none;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-left: 4px solid hsl(292, 42%, 14%);
    margin-top: 10px;
    border-radius: 4px;
    color: hsl(292, 16%, 49%);
}


